body {
    color:white;
    background:black;
    margin: 0px;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px blue;
    padding: 20px;
    font-size: 32px;
    color: blue;
}

.chamada {
    background: #1d0458;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 { 
    font-size: 44px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid rgba(0, 17, 255, 0.712);
}

.categoria h2 {
    color: blue
}